<!DOCTYPE html>
<html>
<head>	
		{% if title %}
        	<title>Growth India Flask Server - {{ title }}</title>
    	{% else %}
        	<title>Growth India Flask Server</title>
    	{% endif %}
    	<link rel="stylesheet" type="text/css" href="/static/layoutstyle.css">
		<script src="/static/sorttable.js"></script>
		<!-- table style -->
		<style>
			table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				width: 100%;
			}
			
			td, th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
			}
			tr:nth-child(even) {
			background-color: #dddddd;
		}
		</style>
</head>
<body>
	<!-- for the navigation bar -->
	<nav>
		<ul>
			<li style="padding-left: 10px; padding-right: 10px;"><h3>Growth India</h3></li>
			<li><a href="{{url_for('main.home')}}">Home</a></li>
			{% if current_user.is_authenticated  %}
			<li><a href="{{ url_for('users.logout') }}">Logout</a></li>
			<li><a href="{{ url_for('users.account') }}">Account</a></li>
			<li style="padding: 20px; float: right;">Logged in as {{ current_user.username }}</li>

			{% else %}
			<li><a href="{{url_for('users.login')}}">Login</a></li>
			<li><a href="{{url_for('users.register')}}">Register</a></li>
			{% endif %}
		</ul>
	</nav>
	<br>
	
	<div class="background-box">
		{% block content %}{% endblock %}
	</div>
</body>
</html>