{% macro table(list_attributes, dict_attributes, list_images, str_list_filepaths) %}

    <table id="projectSpreadsheet" class="sortable">

        <thead>
        <tr>
            <th>Select to hide</th>
            {% for attribute in list_attributes %}
            <th>{{dict_attributes[attribute]}}</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for image in list_images %}
            <tr>
                <td><input class="commoncheckbox" type="checkbox"></td>
            {% for attribute in list_attributes %}
                {% if image[attribute] is number %}
                
                    {% if attribute=='jd' %}
                        <td>{{ "%.6f"|format(image[attribute]) }}</td>
                    {% else %}
                        <td>{{ "%.2f"|format(image[attribute]) }}</td>
                    {% endif %}
                
                <!-- remove the milisecond precision for date -->
                {% elif attribute=='date_observed' %}
                <td>{{ (image[attribute]|string)[:-3] }}</td>
                {% else %}
                <td>{{ image[attribute] }}</td>
                {% endif %}
            {% endfor %}
            <!-- link for downloading the particular image -->
            <!-- again the replace / by * is a hack: refer to display route in images blueprint -->
            <td><a href="{{ url_for('images.download_file', filepath = (image.filepath).replace('/','*') ) }}">Download</a></td>
            </tr>
        {% endfor %}
        </tbody>
    
    </table>
    <!-- link for downloading all images as a zip file -->
    <p>
        <button id="allotBtn">Hide selected rows</button>
        <button><a href="{{ url_for('images.download_zip', str_list_filepaths = str_list_filepaths) }}">Download all files as zip</a></button>
    <button><a href="#" onclick="download_table_as_csv('projectSpreadsheet');">Export Table data into csv</a></button>
    </p>
    <script type="text/javascript">
        $(document).on("click", "#allotBtn", function () {
    $('#projectSpreadsheet tr [class="commoncheckbox"]').each(function(i, chk) {
         if (chk.checked) {
             $("#projectSpreadsheet tr:nth-child("+(i+1)+")").css("display", "none");
         }
    });
});
    </script>

{% endmacro %}

{% macro query_summary(dict_query, form_attributes, dict_attributes) %}


{% for attribute in form_attributes['String Valued'] %}
    {% if attribute in dict_query.keys() %}
        <p>{{ dict_attributes[attribute] }} : {{ dict_query[attribute] }}</p>
    {% endif %}
{% endfor %}

{% for attribute in form_attributes['Real Valued'] %}
    {% if attribute in dict_query.keys() %}
    
        {% if ('max' in  (dict_query[attribute]).keys())
         and ('min' in  (dict_query[attribute]).keys()) %}
            <p>{{ dict_query[attribute]['min'] }} 
                <= {{ dict_attributes[attribute] }} <= {{ dict_query[attribute]['max'] }}</p>
        {% elif 'max' in  (dict_query[attribute]).keys() %}
            <p>{{ dict_attributes[attribute] }} <= {{ dict_query[attribute]['max'] }}</p>
        {% else %}
            <p>{{ dict_query[attribute]['min'] }} <= {{ dict_attributes[attribute] }}</p>
        {% endif %}
    {% endif %}
{% endfor %}

{% if 'ra' in dict_query.keys() %}
    <p>RA : {{dict_query['ra']}}</p>
    <p>DEC : {{dict_query['dec']}}</p>
{% endif %}


{% endmacro %}