{% extends "layout.html" %}
{% block content %}

<h3>Query</h3>
<div class="content-section">
    <!-- TODO: Convert POST request to GET -->
    <form method="POST" action="/display">
        {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.tar_name.label }}
                {{ form.tar_name }}
                <br>
                <br>
                {{ form.date_observed.label }}
                {{ form.date_observed }}
                <br>
                <br>
                {{ form.jd_min.label }}
                {{ form.jd_min}}
                {{ form.jd_max.label }}
                {{ form.jd_max }}
                <br>
                <br>
                {{ form.filter_used.label }}
                {{ form.filter_used }}
                <br>
                <br>
                {{ form.exposure_min.label }}
                {{ form.exposure_min}}
                {{ form.exposure_max.label }}
                {{ form.exposure_max }}
                <br>
                <br>
                {{ form.air_mass_min.label }}
                {{ form.air_mass_min}}
                {{ form.air_mass_max.label }}
                {{ form.air_mass_max }}
                <br>
                <br>
                {{ form.ccd_temp_min.label }}
                {{ form.ccd_temp_min}}

                {{ form.ccd_temp_max.label }}
                {{ form.ccd_temp_max }}
                <br>
                <br>
                <p>Both In Decimal</p>
                {{ form.ra.label }}
                {{ form.ra }}
                {{ form.dec.label }}
                {{ form.dec }}
                <br>
                <br>
            
                {{ form.query(class="btn btn-outline-info") }}
                <input type="reset" value="Clear" class="btn btn-outline-info">
            </div>

    </form>
</div>
{% endblock content %}
